body {
    background-image: url('../img/fondo.jpeg');
    /*Imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Escala la imagen para cubrir toda la pantalla */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
    /* Hace que la imagen permanezca fija al hacer scroll */
    color: white;
    /* Color de las letras */
}